

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.owner_btn{
	display: inline-block;
	padding: 20px;
}



#alert{
	background-color: #2ba6cb;
	
	padding-left: 10%;
	padding-top: 1%;
		padding-right: 1%;
	padding-bottom: 1%;
	width: 100%;
}


#alert span{
	font-size: 1.2em;
}

table { table-layout: fixed; }


#thread_reply_frm{
	
	padding-left: 1.3%;
	padding-top: 1%;
	padding-bottom: 1%;
}


.post_title_th{
	width: 40%;
}

.post_status_th{
	width: 10%;
}

.post_type_th{
	width: 10%;
}

#posting_frm {
	width: 80%;
}

#menu_drop {
	color: white;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
}


#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:70px;   /* Height of the footer */
      padding-top:50px;  
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /* background:#6cf; */
}
