

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.owner_btn{
	display: inline-block;
	padding: 20px;
}



#alert{
	background-color: #2ba6cb;
	
	padding-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}


#alert span{
	font-size: 1.2em;
}

table { table-layout: fixed; }


#thread_reply_frm{
	
	padding-left: 1.3%;
	padding-top: 1%;
	padding-bottom: 1%;
}


.post_title_th{
	width: 40%;
}

.post_status_th{
	width: 10%;
}

.post_type_th{
	width: 10%;
}

#posting_frm {
	width: 80%;
}
